<div class="background-container">
    <div class="background-overlay"></div>
    <div class="button-container">
        <div class="row pt-3 fw-bold" style="font-size: 42px;">
            <div class="col-6" style="padding-left: 7.3%;">{{team.name =="" ? "----" :team.name}}</div>
        </div>
        <div class="row align-items-center" style="min-height:75vh">
            <div class="col-12 text-center px-5">
                <div class="row">
                    <h1 class="fw-bolder" style="font-size: 110px;">
                        Your score 
                    </h1>
                    <h1 class="fw-bolder" style="font-size: 110px;">
                        {{score}}
                    </h1>
                </div>
                <div class="row">
                    <h1 class="fw-bolder" style="font-size: 110px;">
                        <span style="font-family: 'alarm clock', sans-serif;">{{ gameTotalTime | timeFormat
                            }}</span>
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>