/* component.css */
.background-container {
    /* Set the size of the container */
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adjust as needed */

    /* Position the container relative */
    position: relative;
}

.background-overlay {
    /* Set the background color */
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* Gray color with 50% opacity */

    /* Set the size to cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-container {
    /* Position the button container relative */
    position: relative;
    /* Set a higher z-index than the background overlay */
    z-index: 99;
    
}

.topCard {
    z-index: 100;
}

.background-image {
    /* Set the background image using the URL of your image file */
    background-image: url('../../../assets/images/background.jpg');
    /* Update the path with your image file */

    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Set the size of the container */
    width: 100%;
    height: 100%;
}

.gradient-border-yellow {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right,
            rgba(255, 255, 0, 0),
            /* transparent yellow at start */
            rgba(255, 255, 0, 0.5),
            /* semi-transparent yellow in the middle */
            rgba(255, 255, 0, 0));
    border-image-slice: 1;
    padding-bottom: 5px;
}

.gradient-border-blue {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right,
            rgba(0, 0, 255, 0),
            rgba(0, 0, 255, 0.5),
            rgba(0, 0, 255, 0));
    border-image-slice: 1;
    /* Ensures that the gradient is applied fully */
    padding-bottom: 5px;
    /* Adjust padding to match border thickness */


}

.video-game-button {
    text-shadow: 1px 1px pink, -1px -1px maroon;

    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 1.5em;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    -o-border-radius: .75em;
    border-radius: .75em;
    background-color: red;
    -webkit-box-shadow: 0 .2em maroon;
    -moz-box-shadow: 0 .2em maroon;
    -o-box-shadow: 0 .2em maroon;
    box-shadow: 0 .2em maroon;
    color: red;
    margin: 5px;
    background-color: red;
    background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    cursor: pointer;
    padding-left: 5px;
}

.start-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-size: 25px;

}

.video-game-button:active,
.start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}