<div class="background-container">
    <div class="background-overlay"></div>
    <div class="button-container">
        <div class="row" style="font-size: 42px;">
            <div class="col-6" style="padding-left: 7.3%;">{{team.name =="" ? "----" :team.name}}</div>
        </div>
        <div class="row align-items-center" style="min-height:70vh">
            <div class="col-12 text-center px-5">
                <div class="row">
                    <h1 class="fw-bolder" style="font-size: 100px;">
                        Your score
                    </h1>
                    <h1 class="fw-bolder" style="font-size: 100px;">
                        {{score}}
                    </h1>
                </div>
                <div class="row">
                    <h1 class="fw-bolder" style="font-family: 'alarm clock', sans-serif;font-size: 95px;">
                        {{ gameTotalTime | timeFormat }}
                    </h1>
                </div>

            </div>
        </div>
        <div class="row fw-bold" style="font-size: 42px;">
            <div class="col-6 " style="padding-left: 7.3%;">
                {{roundNumber >0 ?"Round " +roundNumber :"Big Target"}}
            </div>
            <div class="col-6 text-end" style="padding-right: 7.5%;" *ngIf="roundNumber!=5">
                {{roundScore}} / {{ requiredScore }}
            </div>
            <div class="col-6 text-end" style="padding-right: 7.5%;" *ngIf="roundNumber==5">
                {{roundScore}}
            </div>
        </div>
    </div>
</div>