<div class="background-container">
    <div class="background-overlay"></div>
    <!-- Start The Game -->
    <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;" *ngIf="showStartGame">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4"></div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <button class="button-container start-btn btn font-weight-bold m-auto ps-3 pe-3"
                        (click)="startTheGame()">
                        Start The Game
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>

    <!-- Team Name and Info -->
    <div class="align-items-center" style="min-height: 100vh;" *ngIf="showTimerandScore">

        <div class="container text-white pt-5">
            <div class="row text-center">
                <div class="col-12 text-center pb-2 pt-3">
                    <h3>
                        <!-- [ngClass]="{'gradient-border-yellow':i %2==0 , 'gradient-border-blue':i%2 != 0}" -->
                        Team Name
                        <br>
                        {{this.team.name}}
                    </h3>

                </div>
            </div>
            <div class="row align-items-center button-container" style="min-height:50vh">
                <div class="col ps-5">
                    <span class="" style="float: inline-start;">
                        <h3 class="gradient-border-blue text-center px-5">
                            Time
                        </h3>
                        <h3 class="text-center">
                            {{ gameTotalTime | timeFormat }}
                        </h3>
                    </span>

                </div>
                <div class="col pe-5">
                    <span class="" style="float: inline-end;">
                        <h3 class="gradient-border-yellow text-center px-5">
                            Score
                        </h3>
                        <h3 class="text-center">
                            {{score}}
                        </h3>
                    </span>

                </div>
            </div>
            <div class="row align-items-center" style="min-height:10vh">
                <div class="col-12 text-center pb-2 pt-3">
                    <h3>{{gameName}}</h3>
                </div>
            </div>
        </div>
    </div>


    <!-- Go To The Next Room -->
    <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;" *ngIf="goToTheNextRoom">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4"></div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <button class="button-container start-btn btn font-weight-bold m-auto ps-3 pe-3"
                        (click)="GoToTheNextRoom()">
                        Go To The Next Room
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
    <!-- Go To The Next Room Loop -->

    <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;" *ngIf="showLoading">
        <div class="container">
            <div class="d-flex justify-content-center mt-1">
                <div class="loader" role="status">
                </div>
            </div>
        </div>
    </div>

</div>