<div class="container" style="margin-top: 10%;">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-3 mt-auto">
                    <h5>Enter Team Name</h5>
                </div>
                <div class="col-8"><input type="text" class="form-control" [(ngModel)]="teamName" placeholder="Name">
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Please Scan Your Id</h5>
            <div class="card mt-3 mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let player of players;let i=index">{{i+" - "+player.firstName +"
                        "
                        +player.secoundName}} </li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary" (click)="GoToTheNextRoom()"
                [disabled]="players.length<2 &&teamName.length>0">Start The Game</button>
        </div>
    </div>

</div>