<div style="min-height: 100vh;" *ngIf="currentState==GatheringRoomGameStage.IntroVideo ||currentState==GatheringRoomGameStage.IntroVideoStarted">
  <video id="newIntro"
      (click)="startNewIntro()"
      muted  (ended)="currentState=GatheringRoomGameStage.StartButton" style="width: 100vw; height: 100vh; object-fit: cover; position: fixed; top: 0; left: 0;">
      <source src="../../../assets/Video/The lava room a 2.mp4" type="video/mp4">
      <source src="../../../assets/Video/The lava room a 2.mp4" type="video/mp4">
  </video>
</div>


<div class="background-container">
  <div class="row pt-3 fw-bold">
    <div class="col-12 team_name">
      {{ team.name == "" ? "----" : team.name }}
    </div>
    <div class="row align-items-center">
      <div class="col-12 text-center your_score">
        <h1 class="fw-bolder your_score_h1">Your score</h1>
      </div>
      <div class="col-12 text-center">
        <h1
          class="fw-bolder"
          style="font-size: 110px; color: #4995d0; margin-top: -10px"
        >
          {{ team.floorIsLavaRoomScore }}
        </h1>
      </div>
      <div class="col-12 text-center">
        <h1
          class="fw-bolder"
          style="font-size: 80px; color: #f9ec23; margin-top: 145px"
          *ngIf="gameStatus == 'FinishedNotEmpty' || gameStatus == 'Leaving'"
        >
          Total:{{ totalScore }}
        </h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="fw-bolder room_time">
          <span
            style="font-family: 'alarm clock', sans-serif"
            *ngIf="
              !(gameStatus == 'FinishedNotEmpty' || gameStatus == 'Leaving')
            "
            >{{ gameTotalTime | timeFormat }}</span
          >
        </h1>
      </div>
    </div>
  </div>
</div>
